doctype html
html
  head
    title= title
    script(type="text/javascript" src="/javascripts/utils/phaser.min.js")
    script(type="text/javascript" src="/javascripts/utils/box2d-plugin-full.js")
    script(type="text/javascript" src="/javascripts/utils/jquery-3.2.1.min.js")

    script(src="/javascripts/states/boot.js")
    script(src="/javascripts/states/load.js")
    script(src="/javascripts/states/menu.js")
    script(src="/javascripts/objects/car.js")
    script(src="/javascripts/objects/track.js")
    script(src="/javascripts/states/editor.js")
    script(src="/javascripts/states/select.js")
    script(src="/javascripts/states/play.js")
    script(src="/javascripts/states/win.js")
    script(src="/javascripts/states/game.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='images/diamond.png')
    link(rel='shortcut icon', href='data:image/x-icon;,', type='image/x-icon')
  body
    block content
    
