doctype html
html
  head
    title= title
    script(src="/javascripts/phaser.min.js")
    script(src="/javascripts/box2d-plugin-full.js")

    script(src="/javascripts/boot.js")
    script(src="/javascripts/load.js")
    script(src="/javascripts/menu.js")
    script(src="/javascripts/car.js")
    script(src="/javascripts/track.js")
    script(src="/javascripts/play.js")
    script(src="/javascripts/win.js")
    script(src="/javascripts/game.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='images/diamond.png')
    link(rel='shortcut icon', href='data:image/x-icon;,', type='image/x-icon')
  body
    block content
    
